<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmation instructions</title>
</head>
<body>
  <h1>Welcome <%= @user.email %>!</h1>
  <%= link_to "Click here to confirm your account", users_confirmations_url(params: {token: @confirmation_token}, host: Rails.application.routes.default_url_options[:host]) %>
</body>
</html>